* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.abt {
    /* position: relative;  */
    height: 270vh;
    width: 100%;
    background: rgba(39, 56, 77, 1.0);
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.abtcontainer {
    height: 250vh;
    width: 90%;
    display: grid;
    grid-template-rows: .25fr 3fr 1.5fr 1.75fr;
    row-gap: 20px;
}

.education {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
}

.technical {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
}

.aboutmehead {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/* box1 main div */
.edubox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: .15px .15px 10px white;
}

.eduboxcont {
    flex: 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: .5fr 2fr;
}

.eduboximgs {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.eduboximgs img {
    height: 80%;
    width: 80%;
    object-fit: contain;
    animation-name: animationimg;
    animation-duration: 3s;
    animation-iteration-count: initial;
}

/* commom animation for first 3 images */
@keyframes animationimg {
    0% {
        position: relative;
        width: 0;
    }

    50% {
        position: relative;
        width: 50%;
    }

    100% {
        position: relative;
        width: 80%;
    }
}

.eduboxcont h3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
}

table {
    padding-left: 20px;
    border-collapse: collapse;
}

table tr td {
    text-align: center;
}

/* box1 cer div */
.cerbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: .15px .15px 10px white;
}

.cerboxcont {
    flex: 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: .25fr .25fr .25fr .25fr;
}

.cerboxcont h3 {
    color: black;
    width: 100%;
    height: 100%;
}

.cer1,
.cer2,
.cer3 {
    padding-left: 30px;
}

.cerboximgs {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cerboximgs img {
    height: 90%;
    width: 90%;
    object-fit: contain;
    animation-name: animationimg;
    animation-duration: 3s;
    animation-iteration-count: initial;
}

/* project div */
.projects {
    /* background-color: blanchedalmond; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: .15px .15px 10px white;
}

.projectcont {
    flex: 2;
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
}

.prohead {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
}

.probody {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding-left: 30px;
}

.projectimgs {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectimgs img {
    height: 90%;
    width: 90%;
    object-fit: contain;
    animation-name: animationimg;
    animation-duration: 3s;
    animation-iteration-count: initial;
}

/* technical div */
.technicalbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
    padding: 10px;
    box-shadow: .15px .15px 10px white;
    border-radius: 10px;
}

.technicalcont {
    flex: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technicalimgs {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technicalimgs img {
    height: 100%;
    width: 50%;
    object-fit: contain;
    animation-name: animationimg1;
    animation-duration: 3s;
    animation-iteration-count: initial;
}

@keyframes animationimg1 {
    0% {
        position: relative;
        width: 0;
    }

    50% {
        position: relative;
        width: 25%;
    }

    100% {
        position: relative;
        width: 50%;
    }
}

.techhead {
    color: black;
}

/* cocurricular div */
.cocurricularbox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: .15px .15px 10px white;
    border-radius: 10px;
}

.cocuuricularcont {
    flex: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cocurricularimgs {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cocurricularimgs img {
    height: 100%;
    width: 70%;
    object-fit: contain;
    animation-name: animationimg2;
    animation-duration: 3s;
    animation-iteration-count: initial;
}

@keyframes animationimg {
    0% {
        position: relative;
        width: 0;
    }

    50% {
        position: relative;
        width: 35%;
    }

    100% {
        position: relative;
        width: 70%;
    }
}

.cohead {
    flex: .5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
}

.cobody {
    flex: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 30px;
}

/* media for phones */
@media screen and (min-width:300px) and (max-width:426px) {
    .abt {
        height: 350vh;
        width: 100%;
    }

    .abtcontainer {
        height: 330vh;
        width: 90%;
        display: grid;
        grid-template-rows: .5fr 3fr 1.5fr 1.75fr;
        row-gap: 20px;
    }

    .aboutmehead {
        font-size: 20px;
    }

    th {
        font-size: 12px;
    }

    td {
        font-size: 12px;
    }

    .eduboximgs {
        display: none;
    }

    .cerboximgs {
        display: none;
    }

    .projectimgs {
        display: none;
    }

    .technicalimgs {
        display: none;
    }

    .cocurricularimgs {
        display: none;
    }

    .cerboxcont {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: .5fr 1fr 1fr 1fr;
        align-items: center;
    }

    .probody {
        display: grid;
        grid-template-rows: .25fr .25fr .25fr .25fr .25fr;
    }

    .p1 h4 {
        font-weight: 600;
    }

    .cer1 h4,
    .cer2 h4,
    .cer3 h4 {
        font-weight: 800;
    }

    .cer1 p {
        font-size: 15px;
    }
}

/*2 media for phone above */
@media screen and (min-width:426px) and (max-width:650px) {
    .abt {
        height: 270vh;
        width: 100%;
    }

    .abtcontainer {
        height: 255vh;
        width: 90%;
        display: grid;
        grid-template-rows: .25fr 3fr 1.5fr 1.75fr;
        row-gap: 20px;
    }

    .aboutmehead {
        font-size: 20px;
    }

    th {
        font-size: 12px;
    }

    td {
        font-size: 12px;
    }

    .eduboximgs {
        display: none;
    }

    .cerboximgs {
        display: none;
    }

    .projectimgs {
        display: none;
    }

    .technicalimgs {
        display: none;
    }

    .cocurricularimgs {
        display: none;
    }

    .cerboxcont {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: .5fr 1fr 1fr 1fr;
        align-items: center;
    }

    .probody {
        display: grid;
        grid-template-rows: .25fr .25fr .25fr .25fr .25fr;
    }

    .p1 h4 {
        font-weight: 600;
    }

    .cer1 h4,
    .cer2 h4,
    .cer3 h4 {
        font-weight: 800;
    }

    .cer1 p {
        font-size: 15px;
    }
}

/* for tablets */
@media screen and (min-width:651px) and (max-width:800px) {
    .abt {
        height: 300vh;
        width: 100%;
    }

    .abtcontainer {
        height: 280vh;
        width: 90%;
        display: grid;
        grid-template-rows: .25fr 3fr 1.5fr 1.75fr;
        row-gap: 20px;
    }

    .probody {
        display: grid;
        grid-template-rows: .25fr .25fr .25fr .25fr .25fr;
    }
}

@media screen and (min-width:801px) and (max-width:1020px) {
    .abt {
        height: 300vh;
        width: 100%;
    }

    .abtcontainer {
        height: 280vh;
        width: 90%;
        display: grid;
        grid-template-rows: .25fr 3fr 1.5fr 1.75fr;
        row-gap: 20px;
    }

    .probody {
        display: grid;
        grid-template-rows: .25fr .25fr .25fr .25fr .25fr;
    }
}