*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg1{
    height: 85vh;
    width: 100%;
    background-color: black;
}
.bg1 img{   
    height: 85vh;
    width: 100%;
    opacity: 0.2;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2{
    position: absolute;
    height: 60vh;
    width: 80%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: center;
}
/* img container */
.cont2{
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    align-items: center;
}

/* icon in img */
.socialicons ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}
.socialicons ul li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}
.socialicons ul li a{
    font-size: 30px;
    font-weight: 900;
    color: rgba(157, 178, 191, 1.0);
    transition: all 0.5s;
}
.socialicons ul li a:hover{
    color: white;
}
.cont2 img{
    height: 100%;
    width: 100%;
    padding-left: 50px;
    animation-name: mydp;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes mydp{
    0%{
        position: relative;
        left: 5%;
    }
    25%{
        position: relative;
        left: 0%;
    }
    50%{
        position: relative;
        right: 5%;
    }
    75%{
        position: relative;
        right: 0%;
    }
    100%{
        position: relative;
        left: 5%;
    }
}
/* para container */
.cont1{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows:.25fr 1fr 3fr 1fr .25fr;
    padding-top: 20px;
    padding-left: 20px;
}
/* button in para contaner */
.myresbtn{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}
.myresbtn button{
    padding: 5px;
    border-radius: 7px;
    outline: none;
    border: 1px solid rgba(157, 178, 191, 1.0);
    background-color: rgba(157, 178, 191, 1.0);
    transition: all 0.5s;
}
.myresbtn button a{
    color: black;
}
.myresbtn button:hover{
    background-color: rgba(6, 32, 48, 1.0);
}
.myresbtn button a:hover{
    color: whitesmoke;
}

.cont1 h2{
    font-size: 35px;
    color :rgba(157, 178, 191, 1.0);
    display: flex;
    align-items: center;
}
.cont1 p{
    font-size: 17px;
    line-height: 30px;
    word-spacing: 3px;
    font-weight: 500;
    color: whitesmoke;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
/* start line style */
.startline{
    display: flex;
    align-items: center;
    width: 0%;
    height: .5vh;
    background-color: bisque;
    position: relative;
    animation-name: line1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes line1 {
    0%{
        width: 0% ;
        height:.5vh;
    }
    25%{
        width: 25% ;
        height:.5vh;
    }
    50%{
        width: 50% ;
        height:.5vh;
    }
    75%{
        width:75% ;
        height:.5vh;
    }
    100%{
        width: 100% ;
        height:.5vh;
    }
    
}

.endline{
    display: flex;
    align-items: center;
    width: 30%;
    height: .5vh;
    background-color: bisque;
}



/* media quary 1 */
@media screen and (min-width:300px)  and (max-width:426px){
    .bg1{
        height: 100%;
        width: 100%;
        background-color: black;
    }
    .bg1 img{   
        height: 170vh;
        width: 100%;
        opacity: 0.2;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container1{
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
    }
    .container2{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .cont1{
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: grid;
    }
    .cont2 img{
        width: 250px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center
    }
    .cont2{
        width: 100%;
        height: 100%;
        display: flex;
        padding-right: 10%;
        flex-direction: column;

    }
    .myresbtn{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

}

/* media quary 2 */
@media screen and (min-width:427px)  and (max-width:650px){
    .bg1{
        height: 100%;
        width: 100%;
        background-color: black;
    }
    .bg1 img{   
        height: 140vh;
        width: 100%;
        opacity: 0.2;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container2{
        height:100%;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .cont2{
        flex:1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-items: center;
        align-items: center;
        padding-right: 10%;
        flex-direction: column;
    }
    .cont2 img{
        width: 350px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* grid-template-rows: .25fr 1fr 3fr .5fr; */
    }
    .cont1{
        flex:1;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: .25fr 1fr 3fr 1fr .25fr;
        padding-top: 20px;
        padding-left: 20px;
    }
    .myresbtn{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

}
/* media for tablets */
@media screen and (min-width:651px)  and (max-width:1020px){
    .container2{
        height:100%;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont2{
        flex:1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-items: center;
        align-items: center;
        padding-right: 10%;
        flex-direction: column;
    }
    .cont2 img{
        width: 250px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cont1{
        flex:1;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: .25fr 1fr 3fr 1fr .25fr;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-left: 20px;
    }
    .myresbtn{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
}