*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(39, 56, 77, 1.0), rgba(6, 32, 48, 1.0));
    /* position: fixed;
    top: 0; */
}

nav{
    height: 11vh;
    width: 97%;
    border-radius: 10px;
    border: 1px solid rgb(32, 30, 30);
    box-shadow: 5px 5px 15px rgb(32, 30, 30) ;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
nav ul li{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: whitesmoke;
}
nav ul li a{
    font-size: 15px;
    font-weight: 500;
    color: whitesmoke;
    list-style-type: none;
}
nav ul li a:hover{
    color: black;
    font-weight:500;
    border-radius: 10px;
    padding: 7px;
    background-color:rgba(157, 178, 191, 1.0) ; 
    position: relative;
    top: 5px;
    left: 5px;
}
.ul1{
    display: none;
}
.hamburger{
    display: none;
}
.heading1{
    color: whitesmoke ;
    display: flex;
    align-items: center;
}
.heading1 h1{
    padding-left: 20px;
    font-size: 30px;
}

/* media quary 1 */
@media screen and (min-width:300px)  and (max-width:426px){
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;   
        /* position: fixed; 
        top: 0; */
    }
    nav{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
    .ul0{
        display: none;
    }
    .hamburger{
        color: white;
        display: flex;
        align-items: center;
        justify-content: right;
        padding-right: 30px;
    }
    .heading1{
        color: whitesmoke ;
        display: flex;
        align-items: center;
    }
    .heading1 h1{
        padding-left: 20px;
        font-size: 20px;
    }
    .ul1{
        height: 60vh;
        width: 100%;
        /* background: linear-gradient(180deg, #000000, #211606); */
        background: linear-gradient(90deg, rgba(39, 56, 77, 1.0), rgba(157, 178, 191, 1.0));
        text-decoration: none;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: center;
        position: fixed;
        align-items: center;
        transition: all 0.5s;
        z-index: 1;
    }
    .ul2{
        /* position: fixed; */
        left: 0;
    }
    .ul3{
        left: -100%;
    }
    .ul1 ul{
        width: 100%;
    }
    .ul1 li{
        width: 45vw;
        padding: 5px;
        background-color: whitesmoke;
        list-style-type: none;
        border: 1px solid rgba(157, 178, 191, 1.0);
        border-radius: 10px 0px 10px 0px;
        box-shadow: .25px .25px 10px rgba(157, 178, 191, 1.0);
        display: flex;
        justify-content: center;
    }
    .ul1 li a{
        font-size: 16px;
        color: rgb(32, 30, 30);
    }
}
/* media quary 2 */
@media screen and (min-width:427px)  and (max-width:768px){
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: fixed;
        top: 0; */
    }
    nav{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
    .ul0{
        display: none;
    }
    .hamburger{
        color: white;
        display: flex;
        align-items: center;
        justify-content: right;
        padding-right: 30px;
    }
    .heading1{
        color: whitesmoke ;
        display: flex;
        align-items: center;
    }
    .heading1 h1{
        padding-left: 20px;
        font-size: 20px;
    }
    .ul1{
        height: 60vh;
        width: 100%;
        /* background: linear-gradient(180deg, #000000, #211606); */
        background: linear-gradient(90deg, rgba(39, 56, 77, 1.0), rgba(157, 178, 191, 1.0));
        text-decoration: none;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: center;
        position: fixed;
        align-items: center;
        transition: all 0.5s;
        z-index: 1;
    }
    .ul2{
        left: 0;
    }
    .ul3{
        left: -100%;
    }
    .ul1 ul{
        width: 100%;
    }
    .ul1 li{
        width: 40vw;
        /* padding: 5px; */
        background-color: whitesmoke;
        list-style-type: none;
        border: 1px solid rgba(157, 178, 191, 1.0);
        border-radius: 10px 0px 10px 0px;
        box-shadow: .25px .25px 10px rgba(157, 178, 191, 1.0);
        display: flex;
        justify-content: center;
    }
    .ul1 li a{
        font-size: 16px;
        font-weight: 600;
        padding: 5px;
        color: rgb(32, 30, 30);
    }
}
/* media quary 3 */
/* @media screen and (min-width:769px) and (max-width:1071px) {
    .ul0 li{
        font-size: 15px;
        font-weight: 500;
        padding: 5px;
    }
} */