* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.projectcontainer {
    height: 85vh;
    width: 100%;
    background-color: rgba(39, 56, 77, 1.0);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectshead {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsection {
    flex: 7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectboxes {
    width: 80%;
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.project1 {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: .5px .5px 10px white;
    /* transition: all 0.5s ease-in; */
}

.project1 img {
    width: 100%;
    height: 100%;
}

.projectdisplay {
    display: none;
}

.projectdisplay h4 {
    text-transform: uppercase;
    font-size: 20px;
    color: black;
}

.project1:hover{

    .projectdisplay {
        position: absolute;
        background-color: rgba(39, 56, 77, 0.6);
        width: 24.5%;
        height: 32%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* phone */
@media screen and (min-width:300px) and (max-width:426px) {
    .projectcontainer {
        height: 250vh;
        width: 100%;
    }

    .projectboxes {
        display: grid;
        grid-template-columns: 1fr;
    }

    .project1:hover {
        .projectdisplay {
            position: absolute;
            background-color: rgba(39, 56, 77, 0.3);
            width: 70%;
            height: 32%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* transition: all 0.5s; */
        }
    }

    .projectdisplay h4 {
        font-size: 16px;
    }
}

/* tablet */
@media screen and (min-width:427px) and (max-width:768px) {
    .projectcontainer {
        height: 150vh;
        width: 100%;
    }

    .projectboxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .project1:hover {
        .projectdisplay {
            position: absolute;
            background-color: rgba(39, 56, 77, 0.3);
            width: 35%;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}